<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +Phone</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i> email</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> address</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-money"></i> GTQ</a></li>
            <li><a href="#"><i class="fa fa-user-o"></i> Mi Cuenta</a></li>
        </ul>
    </div>
</div>